body{
	font-family: Verdana, Arial, Helvetica, sans-serif; 
	font-size: 10px;
	background-color: #5D5D5D;
	min-height:  100vh;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	margin-right: 0px;

}